:root {
  --dark: #34495e;
  --light: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
}

.notification {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 30px;
  right: 20px;
  color: var(--light);
}

.notification .toast {
  max-width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: anima 0.3s ease forwards;
}

@keyframes anima {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

.notification .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.toast::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  animation: lineAnimation var(--duration) linear forwards;
}

@keyframes lineAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.toast.success::before,
.btn#success {
  background-color: var(--success);
}

.toast.error::before,
.btn#error {
  background-color: var(--error);
}

.toast.warning::before,
.btn#warning {
  background-color: var(--warning);
}

.toast.info::before,
.btn#info {
  background-color: var(--info);
}

.toast .column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast.success .column i {
  color: var(--success);
}

.toast.error .column i {
  color: var(--error);
}

.toast.warning .column i {
  color: var(--warning);
}

.toast.info .column i {
  color: var(--info);
}
.toast .toast-message {
  margin: 0 1rem;
  display: flex;
}

.toast .toast-message p {
  font-size: 1rem;
  /* margin: 0 .4rem; */
  margin: 0;
  margin-right: 0.4rem;
  font-weight: 700;
}

.toast .toast-close {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 800;
}

.toast i:last-child:hover {
  color: var(--dark);
}

.buttons .btn {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 530px) {
  .notification {
    /* width: 90%; */
    right: 8px;
  }

  .notification .toast {
    /* width: 100%; */
    padding: 5px 8px;
  }
  .notification .toast .toast-icon svg {
    width: 18px;
  }
  .notification .toast,
  .toast .toast-message p {
    font-size: 0.9rem;
  }
  .toast .toast-message {
    margin: 0 0.5rem;
  }
  .toast .toast-close {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .buttons .btn {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
